*{
	font-family: 'Gowun Dodum', sans-serif;
}

body {
	width: 600px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

main{
	font-size: 25px;
	float: right;
	position: relative;
	color: gray;
}

input[type=text]{
	width: 600px;
	font-size: 25px;
	padding: 10px;
	margin-top: 10px;
}

input[type=text], input[type=radio]{
	margin-bottom: 20px;
}

p{
	margin-bottom: 0;
}

span{
	font-size: 20px;
	margin-right: 40px;
	color: black;
}

.btn{
	height: 50px;
	width: 150px;
	font-size: 20px;
	padding: 0 20px;
	margin-top: 40px;
}

#prevBtn{
	text-decoration: underline;
	background-color: white;
	border: 2px solid gray;
	cursor: pointer;
}

div{
	display: inline-block;
	position: absolute;
	right: 0;
}

#submitBtn, #removeBtn{
	background-color: #00BFFF;
	color: white;
	border: none;
	cursor: pointer;
}

#removeBtn{
	margin-left: 10px;
}